<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="mad aesthetics, holistic aesthetician located in Salem, Oregon. Offering online skin care products, online skin care bootcamp, and holistic skin care treatment at her aesthetician studio." />
    <meta name="keywords" content="Skin car, aesthetician, holistic, salem oregon, skin care routine, skin care products" />
    <meta name="author" content="GiddyUp Web Design" />
    <meta property='og:image' content='images/new-logo-2.png' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>mad aesthetics </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/icons/crescent-moon-solid-black.png" />

    <!-- Google Font -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Allura&family=Cormorant+Garamond:wght@400;500;600;700&family=EB+Garamond&family=Marcellus&display=swap" rel="stylesheet">


    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins-->
    <!-- <link rel="stylesheet" href="css/select2/select2.css" /> -->
    <!-- <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/swiper/swiper.min.css" /> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/> -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/preload.css" />
    <link rel="stylesheet" href="css/style.css" />
    
    <!-- <link rel="stylesheet" href="css/style.scss" /> -->
    <link rel="stylesheet" href="css/bws.css" />
    <link rel="stylesheet" href="js/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="js/glide/dist/css/glide.theme.min.css">
    <!-- <link rel="stylesheet" href="css/animations.css" /> -->

  </head>

<body id="the-body" class="is-preload">

<!--=================================
header -->
<div id="top-banner" class="col-12 d-flex justify-content-center">
  <p class="d-inline text-center">Notice: My books are temporarily closed to new clients. However, there are still spots available in my <a href="#onlinebootcamp-section" class="whiteText">Online Bootcamp</a></p>
</div>
<section id="" class="">
    <header class="header header-transparent default header-sticky py-4">
        <div class="row d-flex justify-content-center">
          <nav id="the-nav" class="col-11 navbar navbar-static-top navbar-expand-lg justify-content-center">
            <!-- <div class="d-lg-flex d-none flex-row col-md-3 col-lg-3 align-items-center navbar-collapse collapse" id="navbarmenu">
              <ul class="nav-list col-12 d-flex" id="navbarmenu">
                <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="bootcamp.html">Bootcamp</a></li>
              </ul>
            </div> -->
            <ul class="d-lg-flex flex-row justify-content-around col-md-3 col-lg-3 nav-list d-none" id="">
              <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
              <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
              <li class="nav-item"><a class="nav-link" href="/bootcamp">Online Bootcamp</a></li>
            </ul>
            <div class="nav-logo col-8 col-sm-7 col-md-6 col-lg-4 col-xxl-3"><a href="index.html"><img class="col-12" src="images/new-logo-2.png"/></a></div>
            <!-- CUSTOM HAMBURGER MENU -->
            <div id="menuToggle" class="position-absolute px-3 d-lg-none">
                        <input type="checkbox" />
                        <span class=""></span>
                        <span class=""></span>
                        <span class=""></span>
                        <ul id="menu">
                          <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="bootcamp.html">Online Bootcamp</a></li>
                <div class="dropdown-divider"></div>
                <li class="nav-item"><a class="nav-link" href="https://square.site/book/J2WJWF13GKN3W/mad-aesthetics">Book</a></li>
                <li class="nav-item"><a class="nav-link" href="store.html">Store</a></li>
                <li class="nav-item"><a class="nav-link" href="/bootcamp/login"><img src="images/icons/user-solid.svg"/></a></li>
                <li class="nav-item"><a class="nav-link" href="cart.html"><img src="images/icons/shopping-cart-black.png"/></a></li>
                
              </ul>
            </div>
            <ul class="d-lg-flex flex-row justify-content-around col-md-3 col-lg-3 nav-list d-none">
              <li class="nav-item"><a class="nav-link" href="https://square.site/book/J2WJWF13GKN3W/mad-aesthetics">Book</a></li>
              <li class="nav-item"><a class="nav-link" href="store.html">Store</a></li>
              <li class="nav-item"><a class="nav-link" href="cart.html"><img src="images/icons/shopping-cart-black.png"/></a></li>
              <li class="nav-item"><a class="nav-link" href="/bootcamp/login"><img src="images/icons/user-solid.svg"/></a></li>
            </ul>
          </nav>
        </div>
      </header>
</section> 

<section id="dashboard">
    <div class="row col-12 d-flex justify-content-center flex-wrap">
    <div class="col-10 d-flex justify-content-start flex-wrap my-5">
        <h1 class="col-12 text-center mb-5">Online Bootcamp Admin Dashboard</h1>
        <div class="col-12 col-md-9 d-flex flex-wrap">           
            <h2 class="col-12">Unreviewed Check Ins</h2>
            <ul class="col-12 d-flex flex-wrap checkInContainer">
              <% unreviewedCheckIns.forEach( el => { %>
                <a onclick="getCheckIn(this)" data-id="<%=el._id%>" data-checkIn="<%=el.checkIn%>" class="checkInItem col-12 col-md-5 col-lg-4 col-xl-3 <%= el.active === true ? 'activeCheckIn' : 'inactiveCheckIn'%> <%= el.checkIn %>CheckIn"><li >
                    <h4 class="px-1 text-center"><%=el.userName%> - <%=el.title%></h4>
                    <h5 class="px-1 text-center">Needs review</h5>
                </li></a>
                <% }) %>
            </ul>
            <h2 class="col-12">Reviewed Check Ins</h2>
            <ul class="col-12 d-flex flex-wrap checkInContainer">
              <% reviewedCheckIns.forEach( el => { %>
                <a onclick="getCheckIn(this)" data-id="<%=el._id%>" data-checkIn="<%=el.checkIn%>" class="checkInItem col-12 col-md-5 col-lg-4 col-xl-3 <%= el.active === true ? 'activeCheckIn' : 'inactiveCheckIn'%> <%= el.checkIn %>CheckIn"><li >
                    <h4 class="px-1 text-center"><%=el.userName%> - <%=el.title%></h4>
                    <h5 class="px-1 text-center">Completed</h5>
                </li></a>
                <% }) %>
            </ul>
        </div>
        <div class="col-12 col-md-3 d-flex flex-wrap align-content-start">
            <h3 class="col-12">Stats</h3>
            <div class="col-12"><p>Current subscibers: <%=userCount%></p></div>
            <div class="col-12"><p>Unreviewed check ins: <%=checkInCount%></p></div>
            <div class="col-12"><a href="/bootcamp/logout"><p>Logout</p></a></div>
        </div>

        <form id="firstCheckInForm" class="hidden" action="/bootcamp/firstCheckIn" method="POST">
          <input type="text" name="id" id="firstCheckInID"/>
          <button type="submit" id="firstCheckInSubmit"></button>
        </form>
        <form id="secondCheckInForm" class="hidden" action="/bootcamp/secondCheckIn" method="POST">
          <input type="text" name="id" id="secondCheckInID"/>
          
          <input type="submit" id="secondCheckInSubmit" />
        </form>
        <form id="defaultCheckInForm" class="hidden" action="/bootcamp/defaultCheckIn" method="POST">
          <input type="text" name="id" id="defaultCheckInID"/>
          <input type="submit" id="defaultCheckInSubmit" />
        </form>
        
    
</div>
</div>
</section>


  <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
  <script type="text/javascript">
    /* curator-feed-default-feed-layout */
    (function(){
    var i,e,d=document,s="script";i=d.createElement("script");i.async=1;i.charset="UTF-8";
    i.src="https://cdn.curator.io/published/da680799-c8d9-419f-aae6-e7446d6857d2.js";
    e=d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
    })();
    </script>

<footer class="footer space-ptb bg-primary">
  <div class="row flexSpaceAroundH">

    <div class="col-md-4 col-lg-6 flexCenterH"><a href="index.html"><img id="footerLogo" src="images/new-logo-white-2.png" class="col-12"/></a></div>
  </div>
  <div class="col-12 text-center pt-5">
    <p class="whiteText">© mad aesthetics 2022</p>
  </div>
  Icon by <a href="https://freeicons.io/profile/714">Raj Dev</a> on <a href="https://freeicons.io">freeicons.io</a>
                                
</footer>


<div id="back-to-top" class="back-to-top" onclick="href='#hero-section'">
  <a href="#hero-section"> <i class="fas fa-angle-up"></i></a>
 </div>
 <script defer src="/js/bootcamp.js"></script>
  <script defer src="js/scroll.js"></script>
  <script defer src="js/custom.js"></script>
  <script src="js/preload.js"></script>
  
  <script src="js/glide/dist/glide.min.js"></script>

</body>
</html>