<%- include('partials/header') -%>

<section id="" class="col-12 py-5">
    <ul class="col-12 d-flex justify-content-around flex-wrap content-container">
      <h2 class="col-12">Blog</h2>
      <% blogs.forEach( blog => { %>
        <% if (blog.published) { %>
          <li class="col-12 col-md-5 d-lg-3 my-3" onclick="getBlogPost(this)" data-blogNumber="<%= blog.number %>">
            <div class="col-12 mx-0">
                <div class="card-body">
                    <div class="card-img-top" >
                        <img src="/images/blog/<%=blog.number %>. <%=blog.title%>/blog<%=blog.number%>-banner.jpg" alt="<%= blog.bannerAlt %>"/>
                        <!-- <img src="{'$lib/img/listings/' +  listing.Title + '/' + listing.MLS + '-0.jpg'}" alt="{listing.Title}"/> -->
                        <!-- <img src='../../lib/img/listings/${listing.Title}/${listing.MLS}-0.jpg' alt="temp"/> -->
                        <!-- <img src='$lib/' alt="{listing.Caption0}"/> -->
                    </div>
                    <!-- <div class="card-img-top"></div> -->
                    <div class="col-12 px-2">
                        <h5 class="card-title pt-3"><%= blog.title %></h5>
                        <p class="blogDate col-12 text-left px-0"><%= blog.date %></p>
                        <!-- <p class="blogPreview col-12 text-left px-0"><%= blog.sections[0].content %></p>
                        <a href="">Read More</a> -->
                    </div>
                </div>
            </div>
          </li>
        <% } %>
        
        <!-- <li onclick="getBlogPost(this)" data-blogNumber="<%= blog.number %>" class="col-12 d-none d-lg-inline my-5">
          <div class="col-12 d-flex flex-wrap">
            <div class="card-img-left col-4" >
              <img src="<%= blog.bannerPath %>" alt='<%= blog.bannerAlt %>'>
            </div>
            <div class="col-8 px-2 d-flex align-content-center justify-content-start flex-wrap px-3">
              <div class="col-12 d-flex justify-content-start card-title-container">
                <h5 class="card-title text-left py-1"><%= blog.title %></h5>
              </div>
            
              <p class="blogDate col-12 text-start px-0"><%= blog.date %></p>
              <p class="blogPreview col-12 text-left px-0"><%= blog.sections[0].content %></p>
              <a class="col-12 text-center d-none d-lg-inline">Read More</a>
            </div>
          </div>
        </li> -->
        <% }) %> 
    </ul>
</section>

<form id="blogRouter" class="hidden" action="/blog/post" method="POST">
  <input type="text" name="id" id="blogNumberInput" value=""/>
  <input type="submit" id="blogSubmit"/>
</form>


<!-- Temporary styling for dev purposes -->
<style>
  .blogPreview {
    white-space: nowrap;
    padding: 0;
    overflow: hidden; 
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 14px;
  } 
  li {
        text-decoration: none;
        color: black;
    }
    li.col-3 {
        padding: 1rem;
    }

    .card {
        margin: 1rem;
        background-color: var(--color-primary);
    }
    .card-body {
        padding: 0;
    }

    .card-img-top {
        width: 100%;
        height: 15rem;
        padding: 0;
        background-size: cover;
        background-position: center;
        /* border-bottom: solid 4px black; */
        /* background-image: url({imgSrc}) */
    }
    .card-img-top > img, .card-img-left > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
    }

    .card-img-left {
        aspect-ratio: 3/2;
        padding: 0;
        background-size: cover;
        background-position: center;
        /* background-image: url({imgSrc}) */
    }

    .card-section {
        border-top: #afadac solid 1px;
        padding-top: 1rem;
    }

    .card-section p {
        width: 50%;
    }

    .blogCard {
    padding: 0;
}

    .blogCard:hover, li:hover {
        /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
        cursor: pointer;
    }

    .blogCardBG {
        aspect-ratio: 1/1;
        background-position: center;
        background-size: cover;
        /* background-image: url('../img/blog/blog-1.jpeg'); */
    }

    .blogDate {
        color: #afadac;
    }

    .card-title-container {
        border-bottom: solid 2px black;
    }

    a:hover {
      text-decoration: underline;
    }
</style>

<script>
    function getBlogPost(target) {
      const blogRouter = document.getElementById('blogRouter');
      const blogSubmit = document.getElementById('blogSubmit');
      const blogNumberInput = document.getElementById('blogNumberInput');
      const blogNumber = target.dataset.blognumber;
      const blogList = document.querySelectorAll('li');
      // console.log(blogNumber)
      blogNumberInput.value = blogNumber;
      blogSubmit.click();
    }

</script>
<%- include('partials/footer') -%>