<%- include('partials/header') -%>

<section id="checkIn" class="col-12">
    <div class="row col-12 d-flex justify-content-center flex-wrap mx-0">
      <!-- <h2 class="col-12 text-center <%= user.admin === true ? 'hidden' : ''%>">Hello, <%= user.firstName %></h2>   -->
      
      <h2 class="col-12 text-center">Initial Questionnaire</h2>
      <h4 class="col-12 text-center">Status: <%= checkIn.status %></h4>
      <div class="col-12 col-md-9 col-xl-6 d-flex justify-content-center flex-wrap mt-5 px-0">           
            <form id="checkInForm" class="mb-5 col-12 <%= user.admin === true || checkIn.submitted == true ? 'hidden' : ''%>" action="/bootcamp/firstCheckInSubmit" method="POST" enctype="multipart/form-data">
                <div id="orderForm">
                  <h6 class="textLeft">Your Info</h6>
                  <input name="checkInNumber" value="first" class="hidden"/>
                  <div class="mb-3 col-12 d-flex justify-content-center">
                    <input name="nameFirst" type="text" class="form-control col-12" value="<%= user.firstName %>" required>
                  </div>
                  <div class="mb-3 col-12 d-flex justify-content-center">
                    <input name="nameLast" type="text" class="form-control col-12" value="<%= user.lastName %>" required>
                  </div>                  
                  <div class="mb-3 col-12 d-flex justify-content-center">
                    <input name="email" type="email" class="form-control col-12" placeholder="email" value="<%= user.email %>" required>
                  </div>
                  <div class="mb-3 col-12 d-flex justify-content-center">
                    <input name="phone" type="tel" class="form-control col-12" placeholder="Phone Number" value="<%= user.phone %>">
                  </div>
                  <div class="mb-3 col-12 d-flex justify-content-center">
                    <input name="age" type="number" class="form-control col-12" placeholder="Age" value="<%= user.age %>">
                  </div>
                    <div class="mb-5">
                        <h6 class="textLeft mt-5">Medications</h6>
                        <p>Leave medication blank if you've never taken it</p>
                    
                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Accutane</p>  
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="accutaneStart" placeholder="Date started" class="form-control date col-12" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"/>
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="accutaneDuration" type="text" class="form-control col-12" placeholder="For how long?">
                          </div>
                        </div>
                        
                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Androstendione</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="androstendioneStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="androstendioneDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>

                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Antibiotics</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="antibioticsStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="antibioticsDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>

                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Avita</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="avitaStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="avitaDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>



                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Azelex</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="azelexStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="azelexDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>                          
                        </div>

                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Benzoyl</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="benzoylStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="benzoylDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Cleocin-T</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="cleocinStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"/>
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="cleocinDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Cocaine/Speed</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="cocaineStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="cocaineDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Copaxone</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="copaxoneStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="copaxoneDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>

                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Corticosteroids</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="corticosteroidsStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="corticosteroidsDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>



                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Cream or Gel</p>
                          <div class="col-12 mb-1 px-0">
                            <input type="text" name="creamMedDescription" placeholder="describe" class="form-control col-12 "/>
                          </div>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="creamStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="creamDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Cyclosporin</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="cyclosporinStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="cyclosporinDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Danzol</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="danzolStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="danzolDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Differin</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="differinStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="differinDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Dilantin/Tegretol</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="dilantinStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="dilantinDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Disulfuram</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="disulfuramStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="disulfuramDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>

                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">E-mycin-T</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="emycinStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="emycinDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Isoniazid</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="isoniazidStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="isoniazidDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Immuran</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="immuranStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="immuranDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Lithium</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="lithiumStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="lithiumDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Marijuana</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="marijuanaStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="marijuanaDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Peroxide</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="peroxideStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="peroxideDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>  
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Progesterone</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="progesteroneStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="progesteroneDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Quinine</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="quinineStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="quinineDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Retin A</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="retinAStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="retinADuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Steroids</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="steroidStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="steroidDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Tazorac</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="tazoracStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="tazoracDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Testosterone</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="testosteroneStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="testosteroneDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Thyroid</p>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="thyroidStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="thyroidDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div>


                        <div class="firstcheckin-medications-outer">
                          <p class="firstcheckin-medications-name">Other meds</p>
                          <div class="col-12 mb-1 px-0">
                            <input type="text" name="otherMedDescription" placeholder="Describe" class="form-control col-12 "/>
                          </div>
                          <div class="firstcheckin-medications-input-container-first col-12 col-sm-6">
                            <input name="otherMedStart" placeholder="Date started" class="form-control date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                          </div>
                          <div class="firstcheckin-medications-input-container-second col-12 col-sm-6">
                            <input name="otherMedDuration" type="text" class="form-control" placeholder="For how long?" >
                          </div>
                        </div> 
                  </div>
                  <h6 class="textLeft mt-5">Medical History (please check all that apply)</h6>
                  <div class="mb-5 d-flex align-items-center flex-wrap mb-5">
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="herpes" type="checkbox" class="d-flex mx-3"/>Herpes Simplex</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="eczema" type="checkbox" class="d-flex mx-3"/>Eczema</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="psoriasis" type="checkbox" class="d-flex mx-3"/>Psoriasis</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="hepatitis" type="checkbox" class="d-flex mx-3"/>Hepatitis</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="cancer" type="checkbox" class="d-flex mx-3"/>Cancer</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="mrsa" type="checkbox" class="d-flex mx-3"/>Staph Infection/MRSA</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="hiv" type="checkbox" class="d-flex mx-3"/>HIV/AIDS</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="thyroidProblems" type="checkbox" class="d-flex mx-3"/>Thyroid Problems</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="hormoneProblems" type="checkbox" class="d-flex mx-3"/>Hormone Problems</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="hysterectomy" type="checkbox" class="d-flex mx-3"/>Hysterectomy</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="overiesRemoved" type="checkbox" class="d-flex mx-3"/>Overies Removed</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="pacemaker" type="checkbox" class="d-flex mx-3"/>Pacemaker</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="hemophilia" type="checkbox" class="d-flex mx-3"/>Hemophilia</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="lupus" type="checkbox" class="d-flex mx-3"/>Lupus</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="anemia" type="checkbox" class="d-flex mx-3"/>Anemia</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="highBloodPressure" type="checkbox" class="d-flex mx-3"/>High Blood Pressure</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="diabetes" type="checkbox" class="d-flex mx-3"/>Diabetes</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="metalPinsInBody" type="checkbox" class="d-flex mx-3"/>Metal Pins in Body</p>
                  </div>
                  <p>Are you under a dermatologist’s or other physician’s care?</p>
                  <input type="text" name="lifestyleQ1" class="form-control mb-5" placeholder="Doctor's name">
                  
                  <h6 class="textLeft mt-5">Lifestyle Considerations</h6>
                  <p>How would you describe your skin?</p>
                  <select name="lifestyleQ2" class="form-control mb-3">
                    <option value="">--Please choose an option--</option>
                    <option value="oily">Oily</option>
                    <option value="dry">Dry</option>
                    <option value="combination">Combination</option>
                    <option value="idk">I don't know</option>
                  </select>  
                  <p>Have you ever had any reactions to any products or anything you have put on your face? If so, what products?</p>
                    <input type="text" name="lifestyleQ3" class="form-control mb-3">
                    <p>Please list any allergies that you know you have:</p>
                    <input type="text" name="lifestyleQ4" class="form-control mb-3"/>
                    <p>Do you smoke?</p>
                    <input type="text" name="lifestyleQ5" class="form-control mb-3"/>
                    <p>Do you use fabric softener or fabric softener sheets in the dryer?</p>
                    <input type="text" name="lifestyleQ6" class="form-control mb-3"/>
                    <p>Do you regularly swim in a chlorinated pool?</p>
                    <input type="text" name="lifestyleQ7" class="form-control mb-3"/>
                    <p>Do you work around chemicals, tars, oils, grease or inks?</p>
                    <input type="text" name="lifestyleQ8" class="form-control mb-3"/>
                    <p>Occupation:</p>
                    <input type="text" name="lifestyleQ9" class="form-control mb-3"/>
                    <p>Are you currently under a lot of stress?</p>
                    <input type="text" name="lifestyleQ10" class="form-control mb-3"/>
                    <p><b>Women:</b> Do you use birth control pills, shots or an IUD? If so, which type and brand (if pill)?</p>
                    <input type="text" name="lifestyleQ11" class="form-control mb-3"/>
                    <p><b>Men:</b> Do you have shaving irritation? If so, what type of razor do you use for shaving?</p>
                    <input type="text" name="lifestyleQ12" class="form-control mb-3"/>

                    <h6 class="textLeft mt-5">Diet</h6>
                    <p>Do you regularly consume any of the following</p>
                    <div class="mb-5 d-flex align-items-center flex-wrap mb-5">
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="fastFood" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Fast Food</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="processedFood" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Processed Food</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="saltySnacks" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Salty Snacks</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="milk" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Milk/Yogurt</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="cheese" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Cheese</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="whey" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Whey or Soy Protein</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="peanutButter" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Peanut Butter</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="peanuts" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Peanuts</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="sushi" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Sushi</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="kelp" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Kelp or Seaweed</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="miso" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Miso Soup</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="soy" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Soy</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="vitaminSupplements" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Vitamin Supplements</p>
                      <p class="d-flex m-0 px-3 col-12 col-md-3 text-left"><input name="seafood" type="checkbox" class="d-flex mx-3" placeholder="How often per week?"/>Seafood</p>
                  </div>
                    <h6 class="textLeft mt-5">Products currently Using</h6>
                    <p>Please provide product names</p>
                    <p>Cleanser</p>
                    <input type="text" name="cleanser" class="form-control mb-3"/>
                    <p>Toner</p>
                    <input type="text" name="toner" class="form-control mb-3"/>
                    <p>Serum</p>
                    <input type="text" name="serum" class="form-control mb-3"/>
                    <p>Moisturizer</p>
                    <input type="text" name="moisturizer" class="form-control mb-3"/>
                    <p>Sunscreen</p>
                    <input type="text" name="sunscreen" class="form-control mb-3"/>
                    <p>Mask</p>
                    <input type="text" name="mask" class="form-control mb-3"/>
                    <p>Foundation</p>
                    <input type="text" name="foundation" class="form-control mb-3"/>
                    <p>Blush</p>
                    <input type="text" name="blush" class="form-control mb-3"/>
                    <p>Exfoliant (acids, serums, scrubs)</p>
                    <input type="text" name="exfoliant" class="form-control mb-3"/>
                    <p>Acne Medications</p>
                    <input type="text" name="acneMedications" class="form-control mb-3"/>
                    <p>Anything else?</p>
                    <input type="text" name="productsOther" class="form-control mb-3"/>

                    <h6 class="mt-5">Other treatments: What else have you done for your skin in the last 90 days?</h6>
                    <div class="mb-3 d-flex align-items-center flex-wrap">
                      <p class="d-flex m-0 px-3 col-12">Checical Peels</p>
                      <input name="chemicalPeelDescription" type="text" class="form-control mx-1 mb-1" placeholder="What type?" >
                      <input name="chemicalPeelWhen" placeholder="When?" class="form-control mx-1 date mb-1" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                      <input name="chemicalPeelWhere" type="text" class="form-control mx-1 mb-1" placeholder="Where?" >
                    </div>
                    <div class="mb-3 d-flex align-items-center flex-wrap">
                      <p class="d-flex m-0 px-3 col-12">Microdermabrasion</p>
                      <input name="microdermabrasionWhen" placeholder="When?" class="form-control mx-1 date mb-1" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                      <input name="microdermabrasionWhere" type="text" class="form-control mx-1 mb-1" placeholder="Where?" >
                    </div>
                    <div class="mb-3 d-flex align-items-center flex-wrap">
                      <p class="d-flex m-0 px-3 col-12">Dermabrasion</p>
                      <input name="dermabrasionWhen" placeholder="When?" class="form-control mx-1 date mb-1" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                      <input name="dermabrasionWhere" type="text" class="form-control mx-1 mb-1" placeholder="Where?" >
                    </div>
                    <div class="mb-3 d-flex align-items-center flex-wrap">
                      <p class="d-flex m-0 px-3 col-12">Laser Hair Removal</p>
                      <input name="laserHairRemovalWhen" placeholder="When?" class="form-control mx-1 date mb-1" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                      <input name="laserHairRemovalWhere" type="text" class="form-control mx-1 mb-1" placeholder="Where?" >
                    </div>
                    <div class="mb-3 d-flex align-items-center flex-wrap">
                      <p class="d-flex m-0 px-3 col-12">Laser Rejuvenation/Resurfacing</p>
                      <input name="laserRejuvenationWhen" placeholder="When?" class="form-control mx-1 date mb-1" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                      <input name="laserRejuvenationWhere" type="text" class="form-control mx-1 mb-1" placeholder="Where?" >
                    </div>
                    <div class="mb-3 d-flex align-items-center flex-wrap">
                      <p class="d-flex m-0 px-3 col-12">Skin Cancer Removal</p>
                      <input name="skinCancerRemovalWhen" placeholder="When?" class="form-control mx-1 date mb-1" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                      <input name="skinCancerRemovalWhere" type="text" class="form-control mx-1 mb-1" placeholder="Where?" >
                    </div>
                    <div class="mb-3 d-flex align-items-center flex-wrap">
                      <p class="d-flex m-0 px-3 col-12">Facial Waxing</p>
                      <input name="facialWaxingWhen" placeholder="When?" class="form-control mx-1 date mb-1" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                      <input name="facialWaxingWhere" type="text" class="form-control mx-1 mb-1" placeholder="Where?" >
                    </div>
                    <div class="mb-3 d-flex align-items-center flex-wrap">
                      <p class="d-flex m-0 px-3 col-12">Electrolysis</p>
                      <input name="ElectrolysisWhen" placeholder="When?" class="form-control mx-1 date mb-1" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                      <input name="ElectrolysisWhere" type="text" class="form-control mx-1 mb-1" placeholder="Where?" >
                    </div>
                    <div class="mb-3 d-flex align-items-center flex-wrap">
                      <p class="d-flex m-0 px-3 col-12">Other</p>
                      <input name="otherTreatmentsDescription" type="text" class="form-control mx-1" placeholder="Describe" >
                      <input name="otherTreatmentsWhen" placeholder="When?" class="form-control mx-1 date mb-1" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  />
                      <input name="otherTreatmentsWhere" type="text" class="form-control mx-1 mb-1" placeholder="Where?" >
                    </div>
                    <%- include('partials/pictureUpload') -%>
                      <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    
            </form>
            
        </div>
        
        <div class="<%= checkIn.submitted == true && checkIn.reviewed == true ? '' : 'hidden'%> col-12 mb-5">
          <h4>Madaesthetics Comments</h4>
          <pre><%= checkIn.reviewComments %></pre>
        </div>
        
        <div class="<%= checkIn.submitted == true ? '' : 'hidden'%> col-12">
            <h4 class="<%= user.admin === true ? '' : 'hidden'%>">Client Response</h4>
            <h4 class="<%= user.admin === true ? 'hidden' : ''%>">Your Response</h4>
            <h6>Basic Info</h6>
            <div class="mb-5">
              <p>Name: <%= checkIn.firstCheckIn.firstName %> <%= checkIn.firstCheckIn.lastName %></p>
              <p>Email: <%= checkIn.firstCheckIn.email %></p>
              <p>Phone: <%= checkIn.firstCheckIn.phone %></p>
              <p>Age: <%= checkIn.firstCheckIn.age %></p>
            </div>
            
            <h6>Medications</h6>
            <div class="d-flex justify-content-between flex-wrap mb-5">
              <div class="<%= checkIn.firstCheckIn.accutaneStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Accutane:</p>
                <p><%= checkIn.firstCheckIn.accutaneStart %></p>
                <p><%= checkIn.firstCheckIn.accutaneDuration %></p>
              </div>
              <div class="<%= checkIn.firstCheckIn.androstendioneStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Androstendione:</p>
                <p><%= checkIn.firstCheckIn.androstendioneStart %></p>
                <p><%= checkIn.firstCheckIn.androstendioneDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.antibioticsStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Antibiotics:</p>
                <p><%= checkIn.firstCheckIn.antibioticsStart %></p>
                <p><%= checkIn.firstCheckIn.antibioticsDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.avitaStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Avita:</p>
                <p><%= checkIn.firstCheckIn.avitaStart %></p>
                <p><%= checkIn.firstCheckIn.avitaDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.azelexStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Azelex:</p>
                <p><%= checkIn.firstCheckIn.azelexStart %></p>
                <p><%= checkIn.firstCheckIn.azelexDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.benzoylStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Benzoyl:</p>
                <p><%= checkIn.firstCheckIn.benzoylStart %></p>
                <p><%= checkIn.firstCheckIn.benzoylDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.cleocinStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Cleocin-T</p>
                <p><%= checkIn.firstCheckIn.cleocinStart %></p>
                <p><%= checkIn.firstCheckIn.cleocinDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.cocaineStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Cocaine/Speed:</p>
                <p><%= checkIn.firstCheckIn.cocaineStart %></p>
                <p><%= checkIn.firstCheckIn.cocaineDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.copaxoneStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Copaxone:</p>
                <p><%= checkIn.firstCheckIn.copaxoneStart %></p>
                <p><%= checkIn.firstCheckIn.copaxoneDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.androstendioneStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Androstendione:</p>
                <p><%= checkIn.firstCheckIn.androstendioneStart %></p>
                <p><%= checkIn.firstCheckIn.androstendioneDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.corticosteroidsStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Corticosteroids:</p>
                <p><%= checkIn.firstCheckIn.corticosteroidsStart %></p>
                <p><%= checkIn.firstCheckIn.corticosteroidsDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.creamStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Cream or Gel:</p>
                <p><%= checkIn.firstCheckIn.creamMedDescription %></p>
                <p><%= checkIn.firstCheckIn.creamStart %></p>
                <p><%= checkIn.firstCheckIn.creamDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.cyclosporinStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Cyclosporin:</p>
                <p><%= checkIn.firstCheckIn.cyclosporinStart %></p>
                <p><%= checkIn.firstCheckIn.cyclosporinDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.danzolStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Danzol:</p>
                <p><%= checkIn.firstCheckIn.danzolStart %></p>
                <p><%= checkIn.firstCheckIn.danzolDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.differinStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Differin:</p>
                <p><%= checkIn.firstCheckIn.differinStart %></p>
                <p><%= checkIn.firstCheckIn.differinDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.androstendioneStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Androstendione:</p>
                <p><%= checkIn.firstCheckIn.androstendioneStart %></p>
                <p><%= checkIn.firstCheckIn.androstendioneDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.dilantinStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Dilantin:</p>
                <p><%= checkIn.firstCheckIn.dilantinStart %></p>
                <p><%= checkIn.firstCheckIn.dilantinDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.disulfuramStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Disulfuram:</p>
                <p><%= checkIn.firstCheckIn.disulfuramStart %></p>
                <p><%= checkIn.firstCheckIn.disulfuramDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.emycinStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>E-mycin-T:</p>
                <p><%= checkIn.firstCheckIn.emycinStart %></p>
                <p><%= checkIn.firstCheckIn.emycinDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.immuranStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Immuran:</p>
                <p><%= checkIn.firstCheckIn.immuranStart %></p>
                <p><%= checkIn.firstCheckIn.immuranDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.lithiumStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Lithium:</p>
                <p><%= checkIn.firstCheckIn.lithiumStart %></p>
                <p><%= checkIn.firstCheckIn.lithiumDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.marijuanaStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Marijuana:</p>
                <p><%= checkIn.firstCheckIn.marijuanaStart %></p>
                <p><%= checkIn.firstCheckIn.marijuanaDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.peroxideStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>peroxide:</p>
                <p><%= checkIn.firstCheckIn.peroxideStart %></p>
                <p><%= checkIn.firstCheckIn.peroxideDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.immuranStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Immuran:</p>
                <p><%= checkIn.firstCheckIn.immuranStart %></p>
                <p><%= checkIn.firstCheckIn.immuranDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.progesteroneStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Progesterone:</p>
                <p><%= checkIn.firstCheckIn.progesteroneStart %></p>
                <p><%= checkIn.firstCheckIn.progesteroneDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.quinineStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Quinine:</p>
                <p><%= checkIn.firstCheckIn.quinineStart %></p>
                <p><%= checkIn.firstCheckIn.quinineDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.retinAStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Retin A:</p>
                <p><%= checkIn.firstCheckIn.retinAStart %></p>
                <p><%= checkIn.firstCheckIn.retinADuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.steroidStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Steroids:</p>
                <p><%= checkIn.firstCheckIn.steroidStart %></p>
                <p><%= checkIn.firstCheckIn.steroidDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.tazoracStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Tazorac:</p>
                <p><%= checkIn.firstCheckIn.tazoracStart %></p>
                <p><%= checkIn.firstCheckIn.tazoracDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.testosteroneStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Testosterone:</p>
                <p><%= checkIn.firstCheckIn.testosteroneStart %></p>
                <p><%= checkIn.firstCheckIn.testosteroneDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.thyroidStart ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Thyroid:</p>
                <p><%= checkIn.firstCheckIn.thyroidStart %></p>
                <p><%= checkIn.firstCheckIn.thyroidDuration %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.otherMedDescription ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Other meds:</p>
                <p><%= checkIn.firstCheckIn.otherMedDescription %></p>
                <p><%= checkIn.firstCheckIn.otherMedStart %></p>
                <p><%= checkIn.firstCheckIn.otherMedDuration %></p>
              </div>


            </div>

            <h6>Medical History</h6>
            <div class="d-flex justify-content-between flex-wrap mb-5">
              <div class="<%= checkIn.firstCheckIn.herpes ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Herpes</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.eczema ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Eczema</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.psoriasis ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Psoriasis</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.hepatitis ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Hepatitis</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.cancer ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Cancer</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.mrsa ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Staph Infection/MRSA</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.hiv ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>HIV/AIDS</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.thyroidProblems ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Thyroid Problems</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.hormoneProblems ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Hormone Problems</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.hysterectomy ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Hysterectomy</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.overiesRemoved ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Overies Removed</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.pacemaker ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Pacemaker</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.hemophilia ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Hemophilia</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.lupus ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Lupus</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.anemia ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Anemia</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.highBloodPressure ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>High Blood Pressure</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.diabetes ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Diabetes</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.metalPinsInBody ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Metal Pins In Body</p>
              </div>

            </div>
            

            <h6>Lifestyle Considerations</h6>
            <div class="mb-5">
              <div class="mb-3">
                <p>Are you under a dermatologist’s or other physician’s care?</p>
                <p><%= checkIn.firstCheckIn.lifestyleQ1 %></p>
              </div>

              <div class="mb-3">
                <p>How would you describe your skin?</p>
                <p><%= checkIn.firstCheckIn.lifestyleQ2 %></p>
              </div>

              <div class="mb-3">
                <p>Have you ever had any reactions to any products or anything you have put on your face? If so, what products?</p>
                <p><%= checkIn.firstCheckIn.lifestyleQ3 %></p>
              </div>

              <div class="mb-3">
                <p>Please list any allergies that you know you have:</p>
                <p><%= checkIn.firstCheckIn.lifestyleQ4 %></p>
              </div>

              <div class="mb-3">
                <p>Do you smoke?</p>
                <p><%= checkIn.firstCheckIn.lifestyleQ5 %></p>
              </div>

              <div class="mb-3">
                <p>Do you use fabric softener or fabric softener sheets in the dryer?</p>
                <p><%= checkIn.firstCheckIn.lifestyleQ6 %></p>
              </div>

              <div class="mb-3">
                <p>Do you regularly swim in a chlorinated pool?</p>
                <p><%= checkIn.firstCheckIn.lifestyleQ7 %></p>
              </div>

              <div class="mb-3">
                <p>Do you work around chemicals, tars, oils, grease or inks?</p>
                <p><%= checkIn.firstCheckIn.lifestyleQ8 %></p>
              </div>

              <div class="mb-3">
                <p>Occupation:</p>
                <p><%= checkIn.firstCheckIn.lifestyleQ9 %></p>
              </div>

              <div class="mb-3">
                <p>Are you currently under a lot of stress?</p>
                <p><%= checkIn.firstCheckIn.lifestyleQ10 %></p>
              </div>

              <div class="mb-3 <%= checkIn.firstCheckIn.lifestyleQ11 ? '' : 'hidden'%>">
                <p>Women: Do you use birth control pills, shots or an IUD? If so, which type and brand (if pill)?</p>
                <p><%= checkIn.firstCheckIn.lifestyleQ11 %></p>
              </div>

              <div class="mb-3 <%= checkIn.firstCheckIn.lifestyleQ12 ? '' : 'hidden'%>">
                <p>Men: Do you have shaving irritation? If so, what type of razor do you use for shaving?</p>
                <p><%= checkIn.firstCheckIn.lifestyleQ12 %></p>
              </div> 
            </div>

            <h6>Diet</h6>
            <div class="d-flex justify-content-between flex-wrap mb-5">
              <div class="<%= checkIn.firstCheckIn.fastFood ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Fast Food</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.processedFood ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Processed Food</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.saltySnacks ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Salty Snacks</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.milk ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Milk/Yogurt</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.cheese ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Cheese</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.whey ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Whey or Soy Protien Powder</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.peanutButter ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Peanut Butter</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.peanuts ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Peanuts</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.sushi ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Sushi</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.kelp ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Kelp or Seaweed</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.miso ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Miso Soup</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.soy ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Soy</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.vitaminSupplements ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Vitamin Supplements</p>
              </div>
              <div class="<%= checkIn.firstCheckIn.seafood ? '' : 'hidden'%> col-12 col-md-4 col-lg-3 medicationItem">
                <p>Seafood</p>
              </div>
            </div>


            <h6>Products currently using</h6>
            <div class="mb-3">
              <div class="col-12 col-md-4">
                <p>Cleanser:</p>
                <p><%= checkIn.firstCheckIn.cleanser %></p>
              </div>
              <div class="col-12 col-md-4">
                <p>Toner:</p>
                <p><%= checkIn.firstCheckIn.toner %></p>
              </div>
              <div class="col-12 col-md-4">
                <p>Serum:</p>
                <p><%= checkIn.firstCheckIn.serum %></p>
              </div>
              <div class="col-12 col-md-4">
                <p>Moisturizer:</p>
                <p><%= checkIn.firstCheckIn.moisturizer %></p>
              </div>
              <div class="col-12 col-md-4">
                <p>Sunscreen:</p>
                <p><%= checkIn.firstCheckIn.sunscreen %></p>
              </div>
              <div class="col-12 col-md-4">
                <p>Mask:</p>
                <p><%= checkIn.firstCheckIn.mask %></p>
              </div>
              <div class="col-12 col-md-4">
                <p>Foundation:</p>
                <p><%= checkIn.firstCheckIn.foundation %></p>
              </div>
              <div class="col-12 col-md-4">
                <p>Blush:</p>
                <p><%= checkIn.firstCheckIn.blush %></p>
              </div>
              <div class="col-12 col-md-4">
                <p>Exfoliant:</p>
                <p><%= checkIn.firstCheckIn.exfoliant %></p>
              </div>
              <div class="col-12 col-md-4">
                <p>Acne Medications:</p>
                <p><%= checkIn.firstCheckIn.acneMedications %></p>
              </div>
              <div class="col-12 col-md-4">
                <p>Anything else:</p>
                <p><%= checkIn.firstCheckIn.productsOther %></p>
              </div>
            </div>

            <h6>Treatments</h6>
            <div class="mb-3">
              <div class="<%= checkIn.firstCheckIn.chemicalPeelDescription ? '' : 'hidden'%> col-12 col-md-4">
                <p>Chemical Peel</p>
                <p><%= checkIn.firstCheckIn.chemicalPeelDescription %></p>
                <p><%= checkIn.firstCheckIn.chemicalPeelWhen %></p>
                <p><%= checkIn.firstCheckIn.chemicalPeelWhere %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.dermabrasionWhen ? '' : 'hidden'%> col-12 col-md-4">
                <p>Dermabrasion</p>
                <p><%= checkIn.firstCheckIn.dermabrasionWhen %></p>
                <p><%= checkIn.firstCheckIn.dermabrasionWhere %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.laserHairRemovalWhen ? '' : 'hidden'%> col-12 col-md-4">
                <p>Laser Hair Removal</p>
                <p><%= checkIn.firstCheckIn.laserHairRemovalWhen %></p>
                <p><%= checkIn.firstCheckIn.laserHairRemovalWhere %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.laserRejuvenationWhen? '' : 'hidden'%> col-12 col-md-4">
                <p>Laser Rejuvenation/Resurfacing</p>
                <p><%= checkIn.firstCheckIn.laserRejuvenationWhen %></p>
                <p><%= checkIn.firstCheckIn.laserRejuvenationWhere %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.skinCancerRemovalWhen ? '' : 'hidden'%> col-12 col-md-4">
                <p>Skin Cancer Removal</p>
                <p><%= checkIn.firstCheckIn.skinCancerRemovalWhen %></p>
                <p><%= checkIn.firstCheckIn.skinCancerRemovalWhere %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.facialWaxingWhen ? '' : 'hidden'%> col-12 col-md-4">
                <p>Facial Waxing</p>
                <p><%= checkIn.firstCheckIn.facialWaxingWhen %></p>
                <p><%= checkIn.firstCheckIn.facialWaxingWhere %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.ElectrolysisWhen ? '' : 'hidden'%> col-12 col-md-4">
                <p>Electrolysis</p>
                <p><%= checkIn.firstCheckIn.ElectrolysisWhen %></p>
                <p><%= checkIn.firstCheckIn.ElectrolysisWhere %></p>
              </div>

              <div class="<%= checkIn.firstCheckIn.otherTreatmentsDescription ? '' : 'hidden'%> col-12 col-md-4">
                <p>Other</p>
                <p><%= checkIn.firstCheckIn.otherTreatmentsDescription %></p>
                <p><%= checkIn.firstCheckIn.otherTreatmentsWhen %></p>
                <p><%= checkIn.firstCheckIn.otherTreatmentsWhere %></p>
              </div>

            </div>

            <h6>Pictures</h6>
            <img class="col-12 col-xl-4 mb-5" src="<%= checkIn.pic1URL%>" />
            <img class="col-12 col-xl-4 mb-5" src="<%= checkIn.pic2URL%>" />
            <img class="col-12 col-xl-4 mb-5" src="<%= checkIn.pic3URL%>" />
        </div>

        <div class="<%= user.admin === true && checkIn.submitted === false ? '' : 'hidden'%> col-12 text-center ">
          <h4>Awaiting submission</h4>
        </div>

        <div class="<%= user.admin === false && checkIn.submitted === true && checkIn.reviewed === false ? '' : 'hidden'%> col-12 text-center">
          <h4>Awaiting feedback</h4>
        </div>

        <form class="<%= user.admin === true && checkIn.submitted === true && checkIn.reviewed === false ? '' : 'hidden'%> col-12 my-5" action="/bootcamp/firstCheckInReview" method="POST">
          <h4>Your comments</h4>
          <textarea name="comments" cols="40" class="col-12" rows="5"></textarea>
          <label for="acneMed">Prescribed Acne Med?</label>
          <input name="acneMed" type="checkbox"/>
          <input name="id" type="text" value="<%= checkIn._id %>" class="hidden"/>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

        

        <div class="col-12 d-md-flex justify-content-start d-none mt-3">
          <a class="col-12" href="/bootcamp"><h4 >< to Bootcamp Dashboard</h4></a>
        </div>

        
            <!-- <div class="col-12 col-md-3 d-flex flex-wrap align-content-start">
              <h3 class="col-12">Account</h3>
              <div class="col-12"><a href="/password"><p>Change password</p></a></div>
              <div class="col-12"><a href="/cancel"><p>Cancel subscription</p></a></div>
              <div class="col-12"><a href="/bootcamp/logout"><p>Logout</p></a></div>
          </div> -->
  </div>
</section>

<%- include('partials/footer') -%>