<%- include('partials/header') -%>

<section id="checkIn">
    <div class="row col-12 d-flex justify-content-center flex-wrap">
      
      <div class="col-10 d-flex justify-content-center flex-wrap my-5">
        <div class="col-12 d-md-flex justify-content-start d-none">
          <a class="col-12 col-md-4" href="/bootcamp"><h4 >< to Bootcamp Dashboard</h4></a>
        </div>
        
        <div class="col-12 d-flex flex-wrap">           
            <form class="mb-5 col-12 <%= user.admin === true ? 'hidden' : ''%>" action="/bootcamp/secondCheckIn" method="POST" enctype="multipart/form-data" >
              <h2 class="col-12 text-center">Week 2 Check In</h2>
          <h4 class="col-12 text-center">Status: <%= checkIn.status %></h4>      
          <%- include('partials/hiddenFormItems') -%>
                    <div class="my-5">
                      <div class="mb-3 d-flex align-items-center justify-content-between flex-wrap">
                        <div class="col-12 d-flex justify-content-between flex-wrap mb-5">
                          <p class="d-flex m-0 px-3 text-center col-12 col-md-6">On a scale of 1-10 , 1 being you hardly feel it and 10 being extremely irritating, how tingly is your AM serum? </p>
                          <div class="d-flex m-0 px-3 col-12 col-md-6 justify-content-center">
                            <input name="Accutane" type="range" min="0" max="10" class="d-flex mx-3" value="5" oninput="this.nextElementSibling.value = this.value"/><output>5</output>
                          </div>
                        </div>

                        <div class="col-12 d-flex justify-content-between flex-wrap mb-5">
                          <p class="d-flex m-0 px-3 text-center col-12 col-md-6">On a scale of 1-10, 1 being completely fine and 10 being extremely irritated, how does your skin feel after wearing Acne Med for 2 hours? </p>
                          <div class="d-flex m-0 px-3 col-12 col-md-6 justify-content-center">
                            <input name="Accutane" type="range" min="0" max="10" class="d-flex mx-3" value="5" oninput="this.nextElementSibling.value = this.value"/><output>5</output>
                          </div>
                        </div>  
                        
                        <div class="col-12 d-flex justify-content-between flex-wrap mb-5">
                          <p class="d-flex m-0 px-3 text-center col-12 col-md-6">On a scale of 1-10, 1 being not dry at all and 10 being extremely dry, how has your skin been feeling? </p>
                          <div class="d-flex m-0 px-3 col-12 col-md-6 justify-content-center">
                            <input name="Accutane" type="range" min="0" max="10" class="d-flex mx-3" value="5" oninput="this.nextElementSibling.value = this.value"/><output>5</output>
                          </div>
                        </div>
                        
                        <div class="col-12 d-flex justify-content-between flex-wrap mb-5">
                          <p class="d-flex m-0 px-3 text-center col-12 col-md-6">Do you think you’re experiencing any purging? </p>
                          <div class="d-flex m-0 px-3 col-12 col-md-6 justify-content-center">
                            <input type="text" name="allergies" class="form-control mb-5"/>
                          </div>
                        </div>

                          

                          <p>Have you skipped either your AM or PM regimen at all? If so, how many times? </p>
                          <input type="text" name="allergies" class="form-control mb-5"/>

                          <p>Do you have any questions, comments or concerns?</p>
                          <input type="text" name="allergies" class="form-control mb-5"/>

                          <p>Please keep an eye on your email for your updated regimen! If you do not hear back from me before this evening, follow these steps - </p>
                          <ol>
                            <li>Cleanse</li>
                            <li>Tone</li>
                            <li>Hydrabalance</li>
                            <li>Acne Med (wear all night)</li>
                            <li>You will no longer be using your moisturizer in the evening as it will deactivate the acne med</li>
                          </ol>
                      </div>
                    
                    </div>
                    
                    <input name="checkInNumber" value="first" hidden="hidden" />

                    <%- include('partials/pictureUpload') -%>

                      <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                  
                    
            </form>
            
            <div class="<%= user.admin === true ? '' : 'hidden'%>">
                <h4>User Response</h4>
                <p>Name: <%= checkIn.firstCheckIn.name %></p>
                <email>Email: <%= checkIn.firstCheckIn.email %></email>
                <p>Pic</p>
                <img src="<%= checkIn.firstCheckIn.picURL%>" />
            </div>
        </div>
        <!-- <div class="col-12 col-md-3 d-flex flex-wrap align-content-start">
            <h3 class="col-12">Account</h3>
            <div class="col-12"><a href="/password"><p>Change password</p></a></div>
            <div class="col-12"><a href="/cancel"><p>Cancel subscription</p></a></div>
            <div class="col-12"><a href="/bootcamp/logout"><p>Logout</p></a></div>
        </div> -->
        
    
</div>
</div>
</section>


  <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
  <script type="text/javascript">
    (function(){
    var i,e,d=document,s="script";i=d.createElement("script");i.async=1;i.charset="UTF-8";
    i.src="https://cdn.curator.io/published/da680799-c8d9-419f-aae6-e7446d6857d2.js";
    e=d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
    })();
    </script>

<footer class="footer space-ptb bg-primary">
  <div class="row flexSpaceAroundH">

    <div class="col-md-4 col-lg-6 flexCenterH"><a href="index.html"><img id="footerLogo" src="images/new-logo-white-2.png" class="col-12"/></a></div>
  </div>
  <div class="col-12 text-center pt-5">
    <p class="whiteText">© mad aesthetics 2022</p>
  </div>
                                
</footer>


<div id="back-to-top" class="back-to-top" onclick="href='#top'">
  <a href="#top"> <i class="fas fa-angle-up"></i></a>
 </div>

  <script defer src="/js/scroll.js"></script>
  <script defer src="/js/custom.js"></script>
  <script src="/js/preload.js"></script>
  
  <script src="/js/glide/dist/glide.min.js"></script>

</body>
</html>