<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="mad aesthetics, holistic aesthetician located in Salem, Oregon. Offering online skin care products, online skin care bootcamp, and holistic skin care treatment at her aesthetician studio." />
    <meta name="keywords" content="Skin car, aesthetician, holistic, salem oregon, skin care routine, skin care products" />
    <meta name="author" content="GiddyUp Web Design" />
    <meta property='og:image' content='images/new-logo-2.png' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>mad aesthetics </title>


    <link rel="shortcut icon" href="/images/icons/crescent-moon-solid-black.png" />

 
    <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Allura&family=Cormorant+Garamond:wght@400;500;600;700&family=EB+Garamond&family=Marcellus&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="/css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/preload.css" />
    <link rel="stylesheet" href="/css/style.css" />
    

    <link rel="stylesheet" href="/css/bws.css" />
    <link rel="stylesheet" href="/js/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="/js/glide/dist/css/glide.theme.min.css">


  </head>

<body id="the-body" class="is-preload">


<div id="top-banner" class="col-12 d-flex justify-content-center">
  <p class="d-inline text-center">Notice: My books are temporarily closed to new clients. However, there are still spots available in my <a href="#onlinebootcamp-section" class="whiteText">Online Bootcamp</a></p>
</div>
<section id="top" class="">
    <header class="header header-transparent default header-sticky py-4">
        <div class="row d-flex justify-content-center">
          <nav id="the-nav" class="col-11 navbar navbar-static-top navbar-expand-lg justify-content-center">

            <ul class="d-lg-flex flex-row justify-content-around col-md-5 col-lg-4 col-xl-3 col-lg-3 nav-list d-none" id="">
              <li class="nav-item"><a class="nav-link" href="/gallery.html">Gallery</a></li>
              <li class="nav-item"><a class="nav-link" href="/services.html">Services</a></li>
              <li class="nav-item"><a class="nav-link" href="/bootcamp">Online Bootcamp</a></li>
            </ul>
            <div class="nav-logo col-8 col-sm-7 col-md-5 col-lg-4 col-xxl-3"><a href="/index.html"><img class="col-12" src="/images/new-logo-2.png"/></a></div>

            <div id="menuToggle" class="position-absolute px-3 d-lg-none">
                        <input type="checkbox" />
                        <span class=""></span>
                        <span class=""></span>
                        <span class=""></span>
                        <ul id="menu">
                          <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="/services.html">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="/bootcamp.html">Online Bootcamp</a></li>
                <div class="dropdown-divider"></div>
                <li class="nav-item"><a class="nav-link" href="https://square.site/book/J2WJWF13GKN3W/mad-aesthetics">Book</a></li>
                <li class="nav-item"><a class="nav-link" href="/store.html">Store</a></li>
                <li class="nav-item"><a class="nav-link" href="/bootcamp/login"><img src="/images/icons/user-solid.svg"/></a></li>
                <li class="nav-item"><a class="nav-link" href="/cart.html"><img src="/images/icons/shopping-cart-black.png"/></a></li>
                
              </ul>
            </div>
            <ul class="d-lg-flex flex-row justify-content-around col-md-5 col-lg-4 col-xl-3 col-lg-3 nav-list d-none">
              <li class="nav-item"><a class="nav-link" href="https://square.site/book/J2WJWF13GKN3W/mad-aesthetics">Book</a></li>
              <li class="nav-item"><a class="nav-link" href="/store.html">Store</a></li>
              <li class="nav-item"><a class="nav-link" href="/cart.html"><img src="/images/icons/shopping-cart-black.png"/></a></li>
              <li class="nav-item"><a class="nav-link" href="/bootcamp/login"><img src="/images/icons/user-solid.svg"/></a></li>
            </ul>
          </nav>
        </div>
      </header>
</section> 

<section id="dashboard">
    <div class="row col-12 d-flex justify-content-center flex-wrap">
    <div class="col-10 d-flex justify-content-center flex-wrap my-5">
        <h2 class="col-12 text-center">Initial Questionnaire</h2>
        <h2 class="col-12 text-center">Hello, <%= user.firstName %></h2>
        <div class="col-12 col-md-9 d-flex flex-wrap">           
            <form class="mb-5 <%= user.admin === true ? 'hidden' : ''%>" action="/bootcamp/firstCheckIn" method="POST" enctype="multipart/form-data" >
                <div id="orderForm">
                    <div class="mb-5">
                        <h6 class="textLeft">Your Info</h6>
                        <div class="mb-3">
                            <input id="formName" name="name" type="text" class="form-control" value="<%= user.firstName %>" required>
                        </div>                    
                        <div class="mb-3">
                            <input id="formEmail" name="email" type="email" class="form-control" value="<%= user.email %>" required>
                        </div>
                    </div>  
                    <div class="mb-5">
                        <h6 class="textLeft">Medications</h6>
                    <div class="mb-3 d-flex align-items-center">
                        <p class="d-flex m-0 px-3 col-3 text-center">Accutane <input name="Accutane" type="checkbox" class="d-flex mx-3 medication-checkbox"/></p>
                        <input name="med1Start" placeholder="Date started" class="form-control mx-1 date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" disabled />
                        <input id="howLong" name="med1Dur" type="text" class="form-control mx-1" placeholder="For how long?" disabled>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <p class="d-flex m-0 px-3 col-3 text-center">Androstendione <input name="Androstendione" type="checkbox" class="d-flex mx-3 medication-checkbox"/></p>
                        <input name="med2Start" placeholder="Date started" class="form-control mx-1 date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" disabled />
                        <input id="howLong" name="med2Dur" type="text" class="form-control mx-1" placeholder="For how long?" disabled>
                    </div>
                    
                    </div>
                    
                    <input name="checkInNumber" value="first" hidden="hidden" />

                        <label for="file">Picture 1</label>
                    <div class="col-12 ">
                        <input type="file" id="" name="file" accept="image/png, image/jpeg">
                    </div>
                      <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    
            </form>
            
            <div class="<%= user.admin === true ? '' : 'hidden'%>">
                <h4>User Response</h4>
                <p>Name: <%= checkIn.firstCheckIn.name %></p>
                <email>Email: <%= checkIn.firstCheckIn.email %></email>
                <p>Pic</p>
                <img src="<%= checkIn.firstCheckIn.picURL%>" />
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex flex-wrap align-content-start">
            <h3 class="col-12">Account</h3>
            <div class="col-12"><a href="/password"><p>Change password</p></a></div>
            <div class="col-12"><a href="/cancel"><p>Cancel subscription</p></a></div>
            <div class="col-12"><a href="/bootcamp/logout"><p>Logout</p></a></div>
        </div>
        
    
</div>
</div>
</section>


  <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
  <script type="text/javascript">
    (function(){
    var i,e,d=document,s="script";i=d.createElement("script");i.async=1;i.charset="UTF-8";
    i.src="https://cdn.curator.io/published/da680799-c8d9-419f-aae6-e7446d6857d2.js";
    e=d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
    })();
    </script>

<footer class="footer space-ptb bg-primary">
  <div class="row flexSpaceAroundH">

    <div class="col-md-4 col-lg-6 flexCenterH"><a href="index.html"><img id="footerLogo" src="images/new-logo-white-2.png" class="col-12"/></a></div>
  </div>
  <div class="col-12 text-center pt-5">
    <p class="whiteText">© mad aesthetics 2022</p>
  </div>
                                
</footer>


<div id="back-to-top" class="back-to-top" onclick="href='#top'">
  <a href="#top"> <i class="fas fa-angle-up"></i></a>
 </div>

  <script defer src="/js/scroll.js"></script>
  <script defer src="/js/custom.js"></script>
  <script src="/js/preload.js"></script>
  
  <script src="/js/glide/dist/glide.min.js"></script>

</body>
</html>